
/******************************
Styles
*********************************/

$width: 140px;
$height: 50px;

.clef-badge-prompt {
    * {
        box-sizing: border-box;
    }

    position: relative;
    min-height: 170px;
   .link-fade {
        display: none;
   } 

   .dismiss {
        position: absolute;
        top: 5px;
        right: 10px;
        font-weight: bold;
        color: #AAA;
        font-size: 20px;
        &:hover {
            color: #888;
        }
   }
}

.clef-badge {
    * {
        box-sizing: border-box;
    }

    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 10px auto;
    &.pretty {
        display: block;
        overflow: hidden;
        text-indent: -579px;
        height: $height;
        width: $width;
        background: url("https://bit.ly/clef-wordpress-badge");
        background-size: 100% 100%;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
}
