#clef-settings-container {
    width: 100%;
    height: 100%;
    position: relative;
    #clef-settings-header {
        display: none;
    }
    .message {
        margin-top: 20px;
        margin-left: 0;
        display: none;
    }
    #clef-settings {
        position: aboslute;
        top: 0;
        left: 0;
    }

    .settings-section {
        background: white; 
        padding: 20px;
        margin: 20px 0;
        h3, h4 {
            margin: 0;
        }
        margin-left: 0 !important;
        @include outer-container();

        .error.form-error {
            float: left;
        }

        .inputs-container {
            @include span-columns(6);
            @include media($tablet) {
                @include span-columns(10 of 10);
            }
            .input-container {
                background: #EEE;
                padding: 10px;
                margin: 10px 0;
                @include span-columns(10 of 10);
                label {
                    @include span-columns(5);
                    @include media($tablet) {
                        @include span-columns(10 of 10);
                    }
                    float: left;
                }
                input, select {
                    float: right;
                    @include media($tablet) {
                        clear: both;
                        float: none;
                        margin: 10px 0;
                    }
                    width: auto;
                    margin: 0;
                }
                input[type="checkbox"] {
                    @include media($tablet) {
                        width: 25px;
                    }
                }
            }
        }

        &.multisite {
            .inputs-container {
                @include span-columns(5);
                .input-container {
                    @include span-columns(5 of 5);
                }
            }
        }
    }
    
    .invite-users {
        .invite-users-message {
            margin: 10px 0 0 0;
            clear: both;
        }
        .header {
            h3, h4 {
                margin-top: 0;
                margin-bottom: 5px;
            }
        } 
        .button {
            margin-top: 20px;
        }
    }
}


.waltz-notification {
    @include outer-container();
    margin-left: 0px;
    margin-top: 5px;
    .waltz {
        @include span-columns(10);
        margin-top: 5px;
        img {
            @include span-columns(2);
        }
    }
}
