#clef-settings-container {
    width: 100%;
    height: 100%;
    #clef-tutorial {
        width: 100%;
        height: 100%;
        display: block;

        .sub {
            display: none;
            .button {
                display: block;
            }

            iframe {
                width: 250px;
                height: 280px;
            }
        }
    } 
}