#clef-tutorial {
    @include outer-container();
    margin-left: 0;

    * {
        box-sizing: border-box;
    }

    .clef-tutorial-container {
        @include span-columns(6);
        min-width: 580px;
        position: relative;
        margin: 20px;
    }

    .tutorial-message {
        @include span-columns(6);
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sub {
        display: none;
        h1 {
            line-height: 1.3em;
            font-size: 20px;
            padding-bottom: 5px;
            border-bottom: 1px solid #EEE;
            margin-bottom: 20px;
        }
    }

    .intro {
        text-align: center;
        h1 {
            text-align: center;
            font-size: 22px;
            margin-bottom: 0;
            font-weight: 500;
        }

        .next-container {
          margin: 30px auto;

        }

        .quotes {
            background: #dedede;
            padding: 20px;
            padding-bottom: 1px;
            blockquote {
                color: #333;
                text-align: left;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.2em;
                margin: 0;
                margin-bottom: 60px;
                min-height: 46px;

                .highlight {
                    background: none;
                    border: none;
                    text-decoration: underline;
                }
                cite {
                    font-weight: 300;
                    float: right;
                    clear: both;
                    margin-top: 30px;
                }
                .highlight {
                    padding: 3px 5px;
                    text-decoration: none;
                    display: inline-block;
                    transform: skewX(-3deg);
                    color: white;
                    &.red {
                        @include highlight($red);
                    }
                    &.orange {
                        @include highlight($orange);
                    }
                    &.green {
                        @include highlight($green);
                    }
                    &.blue {
                        @include highlight($blue);
                    }
                }
            }

            .recommended {
              text-align: left;
              p {
                font-size: 16px;
                font-style: italic;
              }
            }
        }

        .skip {
            float: right;
            color: #AAA;
            text-decoration: none;
            margin-top: 5px;
            &:hover {
                color: #999;
                text-decoration: underline;
            }
        }
    }

    .sync {
        @include widget();
        iframe {
            margin: auto;
            display: block;
            width: 400px;
            height: 500px;
        }
    }

    .invite {
        h1 {
            margin-bottom: 10px;
        }
        .invite-users {
            @include widget();
            .header {
                h3 {
                    display: none;
                }
                h4 {
                    font-size: 16px;
                }
            }
            .already-disabled {
                display: none;
            }

            .preview-container {
                margin-top: 30px;
                float: none;
                width: 100%;
                h4 {
                    margin-top: 0;
                }
            }
        }
        .next {
            display: inline-block !important;
        }
    }

    .login {
        width: 460px;
        @include widget();
        h1 {
          border-bottom: none;
          margin-bottom: 0;
        }
        p {
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #eee;
        }
        iframe {
            margin-top: 10px;
            width: 100%;
            height: 180px;
        }
    }

    .using-clef {
        @include widget();
        h1 {
            border-bottom: 1px solid #EEE;
            padding-bottom: 5px;
            display: inline-block;
        }
        h3 {
            color: #333;
        }
        .next {
            margin: 20px 0;
        }
    }

    .user, .no-sync {
        h1 {
            text-align: left;
        }
        text-align: left;
    }


    &.user, &.no-sync {
        .no-user {
            display: none;
        }
    }

    &.user {
        .user {
            display: block;
            opacity: 1;
        }
    }

    &.no-sync {
        .no-sync {
            display: block;
            opacity: 1;
        }
    }
}

#connect-clef-account {
    .skip {
        display: none;
    }
}
