.waltz {
    @include outer-container;
    @include widget;
    margin: 10px 20px 10px 0;

    * {
        box-sizing: border-box;
    }

    &.settings {
        padding: 10px;
        margin-top: 40px;
        img {
            @include span-columns(1);
            margin-top: 7px;
            @include media($tablet) {
                @include span-columns(1 of 10);
            }
        }
        .text {
            @include span-columns(5);
            @include media($tablet) {
                @include span-columns(8 of 10);
            }

            h1 {
                font-size: 12px;
                margin: 0;
            }
            p {
                margin: 0;
                font-size: 12px;
            }
        }
        .buttons {
            @include span-columns(4);
            @include media($tablet) {
                @include span-columns(10 of 10);
            }
            margin-right: 0;
            margin-top: 15px;
            .button {
                float: none;
                margin: 0;
                text-align: center;
                font-size: 12px;
                width: 45%;
                padding: 0;
                &:first-child {
                    // margin-right: 5%;
                }
            }
        }
    }
}
