.waltz-notification {
    @include outer-container();
    margin-left: 0px;
    margin-top: 5px;
    .waltz {
        @include span-columns(10);
        margin-top: 5px;
        img {
            @include span-columns(2);
        }
    }
}

.waltz {
    @include widget();
    padding: 40px 25px;
    margin-top: 80px;
    h1 {
        margin-top: 0;
    }
    img {
        @include span-columns(3);
    }
    .button:not(.button-primary) {
        margin-left: 10px;
    }
}

