@import "settings";
@import "login";
@import "mixins";
@import "bourbon/_bourbon";
@import "grid-settings";
@import "neat/_neat";
@import "badge";
@import "settings-page";
@import "tutorial";
@import "form";

.bruteprotect-install {
    background: #515953;
    padding: 40px;
    margin-top: 20px;
    p {
        color: white;
        font-size: 16px;
        line-height: 1.2em;
        font-family: "Helvetica Neue", "Helvetica", sans-serif;
    }
}

.multisite-settings {
    input[type="checkbox"] {
        position: relative;
        left: 30px;
        top: 1px;
    }
}

.logout-hook-error {
    display: none;
}

.invite-users {
    .preview-container {
        @include span-columns(4);
        .email {
            width: 95%;
            margin: auto;
            margin-top: 15px;
            font-style: italic;
            border: 1px solid #EEE;
            padding: 10px;
            p {
                font-size: 11px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

#connect-clef-account {
    .connect-clef-message {
        padding: 10px;
        margin: 20px 0 10px 0;
    }
}

.clef-flash.updated {
    padding: 10px;
    img {
        float: left;
        margin-right: 10px;

        animation-name: spin;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
    }
}

@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

body #wp-auth-check-wrap #wp-auth-check {
    width: 90%;
    margin-left: 0;
    left: 5%;
    max-height: none !important;
    height: 90%;
}
