@import "bourbon/_bourbon";
@import "_grid-settings";
@import "neat/_neat";
@import "_badge";
@import "_settings";
@import "_form";

.bruteprotect-install {
    background: #515953;
    padding: 40px;
    margin-top: 20px;
    p {
        color: white;
        font-size: 16px;
        line-height: 1.2em;
        font-family: "Helvetica Neue", "Helvetica", sans-serif;
    }
}

.multisite-settings {
    input[type="checkbox"] {
        position: relative;
        left: 30px;
        top: 1px;
    }
}

.logout-hook-error {
    display: none;
}

.clef-login-form {

    .clef-button-container {
        width: 188px;
        height: 35px;
        margin: auto;
        margin-bottom: 30px;
    }

    &.clef-hidden {
        #login form {
            padding: 40px 20px;
            input, label {
                display: none;
            }        
        }
        .clef-button-container {
            margin-bottom: 0;
        }
    }
}